<li class="timeline-item">
    <div class="timeline-badge danger"><i class="glyphicon glyphicon-ban-circle"></i></div>
    <div class="timeline-panel">
        <div class="col-sm-8">
            <div class="timeline-heading">
                <h4 class="timeline-title" style="color: #c50000">Bad Condition</h4>
                <p><large class="text-muted"><i class="glyphicon glyphicon-time"></i>  {{weather.FCTTIME.civil}}, {{weather.FCTTIME.mon_abbrev}} {{weather.FCTTIME.mday}}</large></p>
                {{#each tide}}
                    {{#ifCond this.date.hour "==" ../weather.FCTTIME.hour_padded}}
                        <p id="tide-text">{{this.data.type}}</p>
                        <p id="tide-text">{{this.data.height}}</p>
                    {{/ifCond}}
                {{/each}}
                <p id="wind-text">WSPD: {{weather.wspd.english}}mph</p>
                <p id="wind-text">Humidity: {{weather.humidity}}%</p>
            </div>
        </div>

        <div class="col-sm-4">
            <img src={{weather.icon_url}} height="55px" width="55px"/>
            <p id="temperature-text">{{weather.condition}}</p>
            <p id="temperature-text">{{weather.temp.english}}°F</p>
        </div>
    </div>
</li>