<!DOCTYPE html>
<html>
<head>
    <title>COGS120/CSE170 Skeleton</title>
    <link href = "/css/map.css" rel="stylesheet">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">

    <script src="/js/map.js"></script>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
        #map {
            height: 100%;
        }
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
<div id="map">
    <script>
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 32.853215, lng: -117.258381},
                zoom: 12
            });

            var infowindowArray = [];

            {{#each arr}}
                var lati = {{latitude}};
                var longi = {{longitude}};
                var coord{{id}} = {lat: lati, lng: longi};

                var contentString = '<div class="row"><img src={{@root.weatherData.icon_url}} height="55px" width="55px"/></div>'
                        + '<div id="temperature-text">{{@root.weatherData.temp_f}}°F</div>'
                        + '<div id="temperature-text">{{@root.weatherData.temp_c}}°C</div>'
                        + '<div id="wind-text">Wind Speed: {{@root.weatherData.wind_mph}}mph</div>'
                        + '<div id="wind-text">Relative Humidity: {{@root.weatherData.relative_humidity}}</div>'
                        + '<div id="wind-text">Visibility: {{@root.weatherData.visibility_mi}} mi</div><br>'
                        + '<div id="content">'
                        + '<h4>{{name}}</h4>'+ '</div>'
                        + '<a href="/weather/surf" type="button" class="btn btn-info btn-sm">'
                        + 'Weather Overview</a> &nbsp;&nbsp; '

                var infowindow{{id}} = new google.maps.InfoWindow({
                    content: contentString
                });

                var marker{{id}} = new google.maps.Marker({
                    position: coord{{id}},
                    map: map
                });

                marker{{id}}.addListener('click', function() {
                    for(var i=0; i < infowindowArray.length; i++) {
                        infowindowArray[i].close();
                    }
                    infowindow{{id}}.open(map, marker{{id}});
                    infowindowArray.push(infowindow{{id}});
                });
            {{/each}}
        }

    </script>
</div>

<script async defer
        src={{googleAPI}}>
</script>

<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>